<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="UTF-8">
    <title>Civilisation Simulation</title>
    <link rel="stylesheet" href="/menu/menu-style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="data:,">
</head>
<body>
    <img src="./menu/img/menu-bg-img.png" class="bg-img">
    <h1 class="title">Civilization Simulation</h1>
    <ul class="map-cards">
        <% if (maps!=null) { %>
            <% let cardNumber = maps.length; %>
        <% for (let i = 1; i <=Math.min(cardNumber+1, 3); i++) { %>
            
            <% if (i == cardNumber+1) { %>
                <li class="map<%=i%> empty">
                    <i class="bx bx-plus map-generator-button<%=i%>" title="New Map"></i>
                </li>
            <% } else { %>
                <li class="map<%=i%> full">
                    <h1>Map Name</h1>
                    <iframe src="./map-preview/map-preview.html?data=<%-encodeURIComponent(JSON.stringify(maps[i-1])) %>" frameborder="0"></iframe>
                    <div class="actions">
                        <i class="bx bx-trash delete" title="Delete Map"></i>
                        <i class="bx bx-info-circle info" title="Show infos"></i>
                    </div>
                </li>
            <% } %>
        <% } %>
        <% } %>
    </ul>

    <i class = "bx bx-help-circle help-icon" title="Help"></i>
    <div class="account-container">
        <i class = "bx bx-user-circle user-icon" title="Help"></i>
        <% if (username) { %>
            <p><%=username%></p>
            <form action="/logout" method="POST">
                <input type="submit" value="Log out" class="button">
            </form>

        <% } else { %>
            <form action="/login">
                <input type="submit" value="Log in" class="button">
            </form>
            <form action="/signin">
                <input type="submit" value="Sign in" class="button">
            </form>
        <% } %>
        
    </div>

    <div class="help-content">
        <p>Civilization Simulation is a game</p>
    </div>

    <div class="map-generator">
        <div class="validation">
            <i class = "bx bx-x cancel" title="Discard Map"></i>
            <i class = "bx bx-check save" title="Save Map"></i>
        </div>
        <iframe class="inner-page" src="./map-generator/map-generator.html"></iframe>
    </div>
    
    

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <script src="./menu/menu.js"></script>



</body>


</html>